<app-cb-header></app-cb-header>
<section class = "header">
  <div class = container>
    <h1>Manage Inventory</h1>
  </div>
</section>
<section>
  <div class="container">
    <div class="column">
      <div class="food-listing-item" *ngFor="let foodItem of foodItemsToDisplay">
        <div class="columns">
          <div class="column">
          </div>
          <div class="column food-listing-item__description">
            <div class="food-listing-item__description--heading">{{foodItem.fooditem.name}}</div>
          </div>
          <div class="column">
            <div class="food-listing-item__actions--price">
              <div class="columns">
                <div class="column is-3 food-listing-item__actions--price--text">
                  <select>
                  <option selected value="{{foodItem.quantity}}">{{foodItem.quantity}}</option>
                    <option value = 0>0</option>
                    <option value = 1>1</option>
                    <option value = 2>2</option>
                    <option value = 3>3</option>
                    <option value = 4>4</option>
                    <option value = 5>5</option>
                    <option value = 6>6</option>
                    <option value = 7>7</option>
                    <option value = 8>8</option>
                    <option value = 9>9</option>
                    <option value = 10>10</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
