@import "~variables.scss";
@import "~mixins.scss";

.cb-manage-food-section-header {
    background-color: lightcoral;
    background-image: url("../../../assets/images/register-bg-2.jpg");
    background-position: center;
    background-size: cover;
    @include desktop {
        min-height: 320px;
    }
}

.title-manage-food {
    color: #fff;
    @include desktop {
        font-family: $open-sans-semibold;
        font-size: 72px;
        text-shadow: 0 0 26px rgba(0, 0, 0, 1);
    }
    @include mobile {
        font-family: $open-sans-semibold;
        font-size: 42px;
        text-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    }
}

.buttonsection{
  text-align: center;
}


.main {
  background-color: #FAFAFA;
}

section {
  font-family: $open-sans-light;
}

.button.is-info {
  background-color: #83A62E;
}

.button.is-danger{
  background-color: grey;
}

.buttonsection{
  margin-top: 1rem;
}



.quantity{
  margin-left: 1rem;
}

.currently_ordered span{
  margin-top: 0.75rem;
}

.cb-wrapper-manage-inventory {
  min-height: 80vh;
}

.columns {
  margin: 0px;
  border-bottom: 1px solid #c1bebe;
}

.item-orders {
  font-size: 60%;

  .columns {
    background-color: #d7e1be;
  }
}


.content h3:not(:first-child) {
  margin-top: 0px;
}
