@import "~variables.scss";


.buttonsection{
  text-align: center;
}

.price{
}

.main {
  background-color: #FAFAFA;
}

section {
  font-family: $open-sans-light;
}

.button.is-info {
  background-color: #83A62E;
}

.button.is-danger{
  background-color: grey;
}

.buttonsection{
  margin-top: 1rem;
}



.quantity{
  margin-left: 1rem;
}

.currently_ordered span{
  margin-top: 0.75rem;
}

.cb-wrapper-manage-inventory {
  min-height: 80vh;
}

.columns {
  margin: 0px;
  border-bottom: 1px solid #c1bebe;
}

.item-orders {
  font-size: 60%;

  .columns {
    background-color: #d7e1be;
  }
}

.food-listing-item{
  .columns {
    }
}


.content h3:not(:first-child) {
  margin-top: 0px;
}
