<app-cb-header></app-cb-header>

<div *ngIf="saveStatus=='success'" class="notification is-success has-text-centered">
  <button class="delete"></button> Save successful.
</div>
<div *ngIf="saveStatus=='fail'" class="notification is-warning has-text-centered">
  <button class="delete"></button> Save failed, contact Admin.
</div>
<div *ngIf="deleteStatus=='success'" class="notification is-success has-text-centered">
  <button class="delete"></button> Delete successful.
</div>
<div *ngIf="deleteStatus=='fail'" class="notification is-warning has-text-centered">
  <button class="delete"></button> Delete failed, contact Admin.
</div>
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered is-1">Manage Inventory</h1>
    </div>
</section>
<section>
    <div class="container main">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h1>Dish</h1>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h1>Price (€)</h1>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h1>Quantity</h1>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h1>Currently ordered</h1>
                </div>
            </div>
        </div>
        <div class="food-listing-item" *ngFor="let item of items">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <h3>{{item.name}}</h3>
                    </div>
                </div>
                <div class="column price">
                    <p class="control">
                        <input [(ngModel)]="item.pricePerPortion" class="input is-medium" type="text" placeholder="Price..." value="{{item.pricePerPortion}}">
                    </p>
                </div>
                <div class="column">
                    <div class="food-listing-item__actions--price">
                        <div class="columns">
                            <p class="control">
                                <input [(ngModel)]="item.servings" class="input is-medium" type="text" placeholder="Servings ..." value="{{item.servings}}">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column currently_ordered">
                    <strong class="quantity">{{item.servings - item.servingsRemaining}}</strong><szrc></szrc>
                    <a class="button is-danger is-medium pull-right cancelorder" (click)="cancelOrder(item._id)">Cancel meal</a>
                </div>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="container">
        <div class="column is-centered buttonsection">
            <a class="button is-info is-large" (click)="save()">
        Save changes
      </a>
            <a class="button is-danger is-large" (click)="cancel()">
        Cancel
      </a>
        </div>
    </div>
</section>
