<app-cb-header></app-cb-header>
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Find local food in your area
      </h1>
      <div class="field has-addons">
        <p class="control is-fullwidth">
          <input class="input" type="text" placeholder="Find food...">
        </p>
        <p class="control">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
