<app-cb-header></app-cb-header>
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        CookOrBook
      </h1>
      <h2>
        Let your neighbours cook for you!
      </h2>
      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Find homemade food in your area...">
        </p>
        <p class="control">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="section main">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="panel">
            <p>We understand the challenges in a busy life, and are here to help.</p>
          <p>Our service aims to make your life easier, without impacting your economy</p>
            <br>
            <p class="has-text-centered"><a class="button is-outlined">Order here!</a></p>
          </div>
      </div>
      <div class="column is-4">
        <div class="panel">
            <p>We are in compliance with German laws, and guarantee you a safe meal with our strict policies.</p>
            <br>
            <p class="has-text-centered"><a class="button is-outlined">Learn more</a></p>
          </div>
      </div>
      <div class="column is-4">
        <div class="panel">
            <p>Our team consists of engaged members, wanting to make an impact on the future of day-to-day life. We are always prepared to answer any questions you may have!</p>
            <br>
            <p class="has-text-centered"><a class="button is-outlined">Contact us!</a></p>
          </div>
      </div>
    </div>
  </div>
</div>
