<app-cb-header></app-cb-header>
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        CookOrBook
      </h1>
      <h2>
        Let your neighbours cook for you!
      </h2>
      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Find homemade food in your area...">
        </p>
        <p class="control">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="section main">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
            <br>
            <p class="has-text-centered"><a class="button is-outlined">Read more</a></p>
          </div>
      </div>
      <div class="column is-4">
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
            <br>
            <p class="has-text-centered"><a class="button is-outlined">Read more</a></p>
          </div>
      </div>
      <div class="column is-4">
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
            <br>
            <p class="has-text-centered"><a class="button is-outlined">Read more</a></p>
          </div>
      </div>
    </div>
  </div>
</div>
