<app-cb-header></app-cb-header>
<section class="section cb-publish-food-section-header">
    <div class="container">
        <h1 class="title has-text-centered title-publish-food">Create a delicious and <br /> healthy meal</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <form (ngSubmit)="publishItem()">
            <div class="columns">
                <div class="column is-half has-text-centered is-offset-one-quarter">
                    <h2 class="subtitle is-2">Publish food item</h2>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Title</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input [(ngModel)]="title" class="input" name="title" display-property-name="title" placeholder="Enter title" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Picture</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input type="file" imageUpload (imageSelected)="imageSelected($event)" name="image" [disabled]="itemReused" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Description</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <textarea [(ngModel)]="description" name="description" class="textarea" placeholder="Enter description" [disabled]="itemReused"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Categories</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <tag-input [(ngModel)]="categories" name="categories" [theme]="'minimal'" placeholder="Add category" secondaryPlaceholder="Add categories" [disabled]="itemReused" [errorMessages]="errorMessages" [validators]="validators"></tag-input>
                                </p>
                                <p class="help">
                                    Enter category and press enter to start entering new one.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Ingredients</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <tag-input [(ngModel)]="ingredients" name="ingredients" [theme]="'minimal'" placeholder="Add ingredient" secondaryPlaceholder="Add ingredients" [disabled]="itemReused" [errorMessages]="errorMessages" [validators]="validators"></tag-input>
                                </p>
                                <p class="help">
                                    Enter Ingredient and press enter to start entering new one.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Allergens</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <tag-input [(ngModel)]="allergens" name="allergens" [theme]="'minimal'" placeholder="Add allergen" secondaryPlaceholder="Add allergens" [disabled]="itemReused" [errorMessages]="errorMessages" [validators]="validators"></tag-input>
                                </p>
                                <p class="help">
                                    Enter allergen and press enter to start entering new one.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Comments</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <textarea [(ngModel)]="sellerComments" name="sellerComments" class="textarea" placeholder="Enter comments" [disabled]="itemReused"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Address Street</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input [(ngModel)]="addressStreet" class="input" name="title" type="text" placeholder="Enter street" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Address Postal Code</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input [(ngModel)]="addressPostalCode" class="input" name="title" type="text" placeholder="Enter postal code" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Address City</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input [(ngModel)]="addressCity" class="input" name="title" type="text" placeholder="Enter city" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Pickup time</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input ngui-datetime-picker [(ngModel)]="date" class="input" name="date" placeholder="Set date" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Amount of servings</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input [(ngModel)]="servings" class="input" name="title" type="number" placeholder="Set amount" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Price per serving</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control">
                                    <span class="select">
                    <select>
                      <option>€</option>
                    </select>
                  </span>
                                </p>
                                <p class="control is-expanded">
                                    <input [(ngModel)]="price" class="input" name="price" type="text" placeholder="Set price">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Bulk pricing</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <label class="radio">
                                  <input type="radio" name="question" (click)="setBulk(true)">
                                  Yes
                                </label>
                                <label class="radio">
                                  <input type="radio" name="question" (click)="setBulk(false)">
                                  No
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="field cb-publish-submit">
                        <div class="control">
                            <button *ngIf="!isFormValid()" class="button is-primary" disabled>Publish</button>
                            <button *ngIf="isFormValid()" class="button is-primary">Publish</button>
                        </div>
                    </div>
                    <div *ngIf="published" class="notification is-success has-text-centered">
                        <button class="delete"></button> Item successfully published...
                    </div>
                    <div *ngIf="showBox()" class="notification is-warning has-text-centered">
                        All Fields Mandatory
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<app-cb-footer></app-cb-footer>