<div class="hero-head">
    <header class="nav">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
                <a *ngIf="isUserLoggedIn()" class="nav-item" routerLink="/find-food" routerLinkActive="is-active">
          Find food
        </a>
                <a *ngIf="isUserLoggedIn()" class="nav-item" routerLink="/cook-food" routerLinkActive="is-active">
          Cook food
        </a>
              <a *ngIf="isUserLoggedIn()" class="nav-item" routerLink="/manage-inventory" routerLinkActive="is-active">
          Manage
        </a>
            </div>
            <span class="nav-toggle" (click)="toggleOnMobile = !toggleOnMobile">
        <span></span>
            <span></span>
            <span></span>
            </span>
            <div *ngIf="isUserLoggedIn()" class="nav-right nav-menu" [class.is-active]="toggleOnMobile">
                <a class="nav-item" (click)="logUserOut()">Log out</a>
            </div>
            <div *ngIf="!isUserLoggedIn()" class="nav-right nav-menu" [class.is-active]="toggleOnMobile">
                <a class="nav-item" (click)="redirectToLogIn()">Sign in</a>
                <a class="nav-item" (click)="redirectToRegister()">Register</a>
            </div>
        </div>

    </header>
</div>
