<div class = hero-head>
  <header class="nav">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
        <!--<a class="nav-item" href="/find-food">-->
        <a class="nav-item" routerLink="/find-food" routerLinkActive="is-active">
          Find food
        </a>
        <a class="nav-item">
          Cook food
        </a>
      </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
      <div class="nav-right nav-menu">
        <a class="nav-item">
          Profile
        </a>
        <a class="nav-item">
          Sign in
        </a>
        <a class="nav-item">
          Documentation
        </a>
      </div>
    </div>
  </header>
</div>
