@import "~variables.scss";
@import "~mixins.scss";

.cb-login-bg {
    background-image: url('../../../assets/images/cb-login-register-bg.png');
    background-size: cover;
}

.cb-login-container-bg {
    background-color: grey;
}

.cb-text-logo {
  font-family: $open-sans-extra-bold;
  letter-spacing: -3px;
  font-size: 40px;
}

.title-login-page {
    color: #fff;
    @include desktop {
        font-family: $open-sans-semibold;
        font-size: 32px;
        text-shadow: 0 0 20px rgba(0, 0, 0, 1);
        line-height: 1.2;
    }

    @include mobile {
        font-family: $open-sans-semibold;
        font-size: 22px;
        text-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    }
}

.btn-login {
    width: 100%;
}
