<app-cb-header></app-cb-header>
<section *ngIf="!serverResponse" class="section notification  has-text-centered ">
    <div class="container">
        <h1 class="is-warning">Zoink! You just took a wrong turn... Redirecting</h1>
    </div>
</section>
<section *ngIf="item != null" class="section cb-order-food-section-header">
    <div class="container">
        <h1 class="title has-text-centered title-order-food">Few clicks away<br>from fresh homemade food</h1>
    </div>
</section>
<section *ngIf="item != null" class="section">
    <div class="container">
        <h1 class="title">
            Place your order here
        </h1>
        <h2 class="subtitle">
            Your order will be in preperation as soon as its confirmed
        </h2>
        <div class="columns">
            <!-- hide this sidebar on mobile -->
            <div class="column is-3 is-hidden-mobile">
                <div class="order-item__img">
                    <img src="{{item.image}}" width="100%" />
                </div>
                <br>
                <article class="message">
                    <div class="message-header">
                        <p>Ingredients</p>
                    </div>
                    <div class="message-body">
                        <p *ngFor="let i of item.ingredients">{{i}}</p>
                    </div>
                </article>
                <article class="message">
                    <div class="message-header">
                        <p>Allergens</p>
                    </div>
                    <div class="message-body">
                        <p *ngFor="let i of item.allergens">{{i}}</p>
                    </div>
                </article>
            </div>
            <div class="column">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Portions</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h4 class="subtitle is-4">{{item.name}}</h4>
                                <p>
                                    {{item.description}}<br> {{item.sellerComments}}
                                </p>
                                <span class="tag is-success">{{item.type}}</span>
                            </td>
                            <td>
                                <p class="control">
                                    <span class="select">
                                      <select [(ngModel)]="selectedServings">
                                        <option *ngFor="let i of rangeFaker(item.servingsRemaining); let index = index" [value]="index+1">{{index+1}}</option>
                                      </select>
                                   </span>
                                </p>
                            </td>
                            <td><strong>€</strong> {{item.pricePerPortion}}</td>
                            <td><strong>€</strong> {{selectedServings * item.pricePerPortion}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h5 class="subtitle is-5">Select one of the pickup slot from dropdown</h5>
                    </div>
                    <!-- for desktop/tablet with pulled-right -->
                    <div class="column is-pulled-right is-hidden-mobile">
                        <div class="field">
                            <p class="control">
                                <span class="select ">
                                  <select [(ngModel)]="selectedPickupTime">
                                    <option *ngFor="let time of item.pickupTime">{{time}}</option>
                                  </select>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- for mobile without pulled-right -->
                    <div class="column is-hidden-tablet is-hidden-desktop">
                        <div class="field">
                            <p class="control">
                                <span class="select is-large">
                                  <select [(ngModel)]="selectedPickupTime">
                                    <option *ngFor="let time of item.pickupTime">{{time}}</option>
                                  </select>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column">
                        Any additional remarks
                    </div>
                    <div class="column is-three-quarters">
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea is-hovered" [(ngModel)]="buyerComments"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h3 class="subtitle is-3">Order Total</h3>
                    </div>
                    <div class="column has-text-right">
                        <h3 class="subtitle is-3"><strong>€</strong> {{selectedServings * item.pricePerPortion}}</h3>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-three-quarters"></div>
                    <div class="column">
                        <!-- change to input type submit after changing to form -->
                        <a class="button is-large is-cb-bg is-text-white is-fullwidth" (click)="orderItem()">
                            <span class="icon is-medium">
                              <i class="fa fa-shopping-cart"></i>
                            </span>
                            <span>Order</span>
                        </a>
                    </div>
                </div>
                <div *ngIf="!orderFail" class="notification is-warning has-text-centered">
                    <button class="delete"></button> Invalid order...
                </div>
            </div>
        </div>
    </div>
</section>
<app-cb-footer></app-cb-footer>