
$open-sans-bold:              'OpenSans-Bold-webfont', sans-serif;
$open-sans-bold-italic:       'OpenSans-BoldItalic-webfont', sans-serif;
$open-sans-extra-bold:        'OpenSans-ExtraBold-webfont', sans-serif;
$open-sans-extra-bold-italic: 'OpenSans-ExtraBoldItalic-webfont', sans-serif;
$open-sans-italic:            'OpenSans-Italic-webfont', sans-serif;
$open-sans-light:             'OpenSans-Light-webfont', sans-serif;
$open-sans-light-italic:      'OpenSans-LightItalic-webfont', sans-serif;
$open-sans-regular:           'OpenSans-Regular-webfont', sans-serif;
$open-sans-semibold:          'OpenSans-Semibold-webfont', sans-serif;
$open-sans-semibold-italic:   'OpenSans-SemiboldItalic-webfont', sans-serif;
